name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Enter frontend directory
      run: cd frontend
    
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.15.0
        cache: 'npm'

    - name: Install dependencies and Start Application
      run: |
        npm install
        npm start
        # Add any additional steps to check for errors in the logs or exit codes
